.sidebar {
  background-color: #252525;
  flex: 0.12;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 330px;
}

.foundedChat {
  width: 100%;
  background-color: #0088cccb;
  border-end-end-radius: 8px;
  border-end-start-radius: 8px;
  cursor: pointer;
}
